---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-3 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Flywheel Logo"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="col-span-2">
    <h1
      class="text-4xl text-text lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter font-mono">
      <!-- Build momentum-preserving tools for scientific progress. -->
      <!-- Build momentum-preserving tools for science. -->
      Build simple tools to preserve scientific momentum.
    </h1>
    <p class="text-lg mt-4 text-slate-400 max-w-xl">
      We are an open source initiative loosely based in Cambridge, UK. Our aim is to empower scientists through open source projects, hackathons, and talks.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://lu.ma/o07b5s8m"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bx-calendar" />
        <b>Join the first Hack Day on October 27th</b>
      </Link>
    </div>
    <div class="mt-7 flex flex-col: sm:flex-row gap-3">
      <Link
        size="lg"
        rel="noopener"
        style="primary"
        href="https://github.com/flywheelhq"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-white  h-4" name="bx:bxl-github" />
         Projects
      </Link>
      <Link
        size="lg"
        rel="noopener"
        style="primary"
        href="https://discord.gg/kTkF2e69fH"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-white  h-4" name="bx:bxl-discord" />
         Discord
      </Link>
    </div>
  </div>
</main>
